<footer class="footer py-3 mt-auto mt-10">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Made with ❤️ by <strong>Saksham Singhal</strong></p>
    </div>
</footer>
